.work-experience-page {
    padding: 50px;
    background-color: #1c1c1c; /* Dark background */
    color: #ffffff; /* White text */
    
    justify-content: center;
    
 
  }
  
  .work-title {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
   
    text-align: center;
 
  }
  
  .experience-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #007bff; 
  }
  
  .experience-details {
    flex: 1;
    margin-right: 20px;
  }
  
  .experience-details p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .amazon-logo {
    flex-shrink: 0;
  }
  
  .amazon-logo img {
    width: 500px;
    height: 300px;
    margin-right: 30px;
    /* Optional: rounded logo */
  }
  

  .experience-details a {
    color: blue; /* Matching color with title */
    font-weight: bold;
    text-decoration: underline;
  }
  
  .experience-details a:hover {
    color: white; /* Darker shade on hover */
  }
  