.skills-page {
  padding: 40px;
  background-color: #1c1c1c; /* Dark background color */
}

.skills-title {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  color: #ffffff; /* White text color */
  margin-bottom: 20px;
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-block {
  background-color: #333333; /* Slightly lighter dark color for skill blocks */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  flex: 1 1 45%; /* Two blocks per row */
  min-width: 300px;
}

.skill-block:hover {
  transform: scale(1.05);
}

.skill-block h2 {
  font-size: 24px;
  color: #ffffff; /* White text color */
  margin-bottom: 15px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.skill-item {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.skill-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
 border-radius: 10px;
}



